@import "tailwindcss";

@theme {
  --breakpoint-*:initial;
  --breakpoint-xsm:500px;
  --breakpoint-sm:600px;
  --breakpoint-md:690px;
  --breakpoint-lg:988px;
  --breakpoint-xl:1078px;
  --breakpoint-xxl:1265px;
}

@media {
  :root {
    --purple: #723CEB;
    --pink: #BF49B0;
    --white:#FFFFFF;
    --black:#06090F;
    --orange:#FF902F;
  }
}

body {
  font-display: Oswald;
  background-color:#171717;
}
.gradient {
  background: linear-gradient(to right, var(--purple), var(--pink), var(--orange));
  transition: background 3.2s ease;
}
.gradient:hover {
  background: linear-gradient(to left, var(--purple), var(--pink), var(--orange));
}

